<title>Account Home</title>

<div class="container mngacc">
    <h2>Account Home Page</h2>
    <p>Welcome to IntlOps Client Intake System</p>

    <a href="~/Manage/ManageAccountInfo" class="btn btn-default btn-lg">Manage Account Information</a>
    <a href="~/Account/ViewAccountInfo" class="btn btn-default btn-lg">View Account Information</a>
</div>


 
